In [1]:
import pandas as pd
import numpy as np

In [20]:
dades1 = pd.read_csv("dades/records-2023-04-25.csv")
dades1.head()

,Species,Species Name,Scientific Name Authorship,Taxon Rank,Kingdom,Phylum,Class,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,9687165,Motacilla alba,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Motacillidae,Motacilla,White Wagtail,NaN,NaN
1,5231190,Passer domesticus,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Passeridae,Passer,House Sparrow,NaN,NaN
2,5229490,Pica pica,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Corvidae,Pica,Eurasian Magpie,NaN,NaN
3,2490719,Turdus merula,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Turdidae,Turdus,Eurasian Blackbird,NaN,NaN
4,2495455,Columba palumbus,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Columbiformes,Columbidae,Columba,Common Wood-Pigeon,NaN,NaN

In [29]:
inv = dades1["Conservation"].dropna()

In [33]:
inv

8      Listado de Especies Silvestres en Régimen de P...
13     Listado de Especies Silvestres en Régimen de P...
17     Listado de Especies Silvestres en Régimen de P...
21     Listado de Especies Silvestres en Régimen de P...
29     Listado de Especies Silvestres en Régimen de P...
                             ...
225    Listado de Especies Silvestres en Régimen de P...
229    Listado de Especies Silvestres en Régimen de P...
231    Listado de Especies Silvestres en Régimen de P...
236    Listado de Especies Silvestres en Régimen de P...
242    Listado de Especies Silvestres en Régimen de P...
Name: Conservation, Length: 65, dtype: object

In [35]:
dades2 = pd.read_csv("dades/records-2023-03-14/citation.csv")
dades2.head()

,UID,Name,DOI,Citation,Rights,More Information,Data generalisations,Information withheld,Download limit,Number of Records in Download
0,co255,Datos recogidos en el proyecto Biobserva,NaN,Registros proporcionados por Datos recogidos e...,NaN,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917
1,dp2,GBIF ES IPT,NaN,"Registros proporcionados por GBIF ES IPT, acce...",NaN,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917
2,dr743,Field observations of birds from Agbar facilit...,doi:10.15470/uykaay,Rovira C (2022): Field observations of birds f...,Creative Commons Zero (CC0) To the extent poss...,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917
3,in109,AGBAR,NaN,"Registros proporcionados por AGBAR, accedidos ...",NaN,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917

In [38]:
for i in dades2.columns:
    print(i)

UID
Name
DOI
Citation
Rights
More Information
Data generalisations
Information withheld
Download limit
Number of Records in Download

In [48]:
dades3 = pd.read_csv("dades/records-2023-03-14/headings.csv")
dades3.head()

,Column name,Requested field,DwC Name,Field name,Field description,Download field name,Download field description,More information
0,data_resource_uid,data_resource_uid,NaN,data_resource_uid,Dataset,data_resource_uid,Data Resource ID,The Atlas ID for the data resource
1,dcterms:language,language,dcterms:language,language,NaN,language,NaN,Language of the record
2,dcterms:license,license,dcterms:license,license,License,license,Licence,The license applying to a record.
3,dcterms:rightsHolder,rightsholder,dcterms:rightsHolder,rightsholder,NaN,rightsholder,NaN,NaN
4,access_rights,access_rights,dcterms:accessRights,access_rights,NaN,access_rights,NaN,NaN

In [49]:
for i in dades3.columns:
    print(i)

Column name
Requested field
DwC Name
Field name
Field description
Download field name
Download field description
More information

In [46]:
data4 = pd.read_csv("dades/records-2023-03-14/records-2023-03-14.csv")
data4.head()

,data_resource_uid,dcterms:language,dcterms:license,dcterms:rightsHolder,access_rights,dcterms:bibliographicCitation,institutionID,collectionID,datasetID,institutionCode,...,taxonomicStatus,nomenclaturalStatus,taxonRemarks,species,verbatimIdentificationQualifier,provenance,recordID,dcterms:accessRights,verbatimContinent,verbatimBasisOfRecord
0,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Fulica atra,NaN,Published dataset,fffbadf9-b2e2-4eb5-9693-66cc9f1ae275,NaN,Europe,HumanObservation
1,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Buteo buteo,NaN,Published dataset,fff64d93-c37e-4a41-82fa-741ee0890278,NaN,Europe,HumanObservation
2,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Chroicocephalus ridibundus,NaN,Published dataset,fff08d30-3555-43f8-a43b-d4c1f9fe47dd,NaN,Europe,HumanObservation
3,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Streptopelia decaocto,NaN,Published dataset,ffe1f1c1-d7d3-4ba6-8e99-5d9377a6c0d7,NaN,Europe,HumanObservation
4,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Motacilla cinerea,NaN,Published dataset,ffe18f1c-7d64-41df-9dfe-b3c0630a34fd,NaN,Europe,HumanObservation

In [47]:
for i in data4.columns:
    print(i)

data_resource_uid
dcterms:language
dcterms:license
dcterms:rightsHolder
access_rights
dcterms:bibliographicCitation
institutionID
collectionID
datasetID
institutionCode
collectionCode
datasetName
ownerInstitutionCode
basisOfRecord
dynamicProperties
occurrenceID
catalogNumber
recordNumber
recordedBy
individualCount
organism_quantity
organism_quantity_type
sex
reproductiveCondition
behavior
establishmentMeans
occurrenceStatus
preparations
disposition
associatedMedia
associatedSequences
associatedTaxa
otherCatalogNumbers
occurrenceRemarks
previousIdentifications
eventID
fieldNumber
eventDate
eventTime
startDayOfYear
endDayOfYear
year
month
day
verbatimEventDate
habitat
samplingEffort
fieldNotes
eventRemarks
locationID
higherGeographyID
higherGeography
waterBody
islandGroup
island
country
countryCode
stateProvince
county
municipality
locality
verbatimLocality
minimumElevationInMeters
maximumElevationInMeters
verbatimElevation
minimumDepthInMeters
maximumDepthInMeters
minimum_distance_above_surface_in_meters
maximum_distance_above_surface_in_meters
locationAccordingTo
locationRemarks
decimalLatitude
decimalLongitude
geodeticDatum
coordinateUncertaintyInMeters
pointRadiusSpatialFit
verbatimCoordinates
verbatimLatitude
verbatimLatitude.1
verbatimLongitude
verbatimLongitude.1
verbatimCoordinateSystem
verbatimCoordinateSystem.1
verbatimSRS
footprintWKT
georeferencedBy
georeferencedDate
georeferenceProtocol
georeferenceSources
georeference_verification_status
georeferenceRemarks
identificationID
identificationQualifier
typeStatus
identifiedBy
dateIdentified
identificationVerificationStatus
identificationRemarks
taxonID
scientificNameID
taxonConceptID
scientificName
scientificName.1
acceptedNameUsage
parentNameUsage
originalNameUsage
namePublishedIn
name_published_in_year
higherClassification
kingdom
phylum
class
order
family
genus
subgenus
specificEpithet
infraspecificEpithet
taxonRank
verbatimTaxonRank
scientificNameAuthorship
vernacularName
taxonomicStatus
nomenclaturalStatus
taxonRemarks
species
verbatimIdentificationQualifier
provenance
recordID
dcterms:accessRights
verbatimContinent
verbatimBasisOfRecord