In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("records-2023-03-07/records-2023-03-07.csv")
data.head()

,data_resource_uid,dcterms:language,dcterms:license,dcterms:rightsHolder,access_rights,dcterms:bibliographicCitation,institutionID,collectionID,datasetID,institutionCode,...,taxonomicStatus,nomenclaturalStatus,taxonRemarks,species,verbatimIdentificationQualifier,provenance,recordID,dcterms:accessRights,verbatimContinent,verbatimBasisOfRecord
0,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Phylloscopus collybita,NaN,Published dataset,ffa5b664-5903-491d-bd95-d3c33ba5e7fc,NaN,Europe,HumanObservation
1,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Fringilla coelebs,NaN,Published dataset,ff7589fd-5130-4034-a1c4-5263aa568968,NaN,Europe,HumanObservation
2,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Passer domesticus,NaN,Published dataset,ff5ab2c7-83e3-48e2-bfc9-6109864d963e,NaN,Europe,HumanObservation
3,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Upupa epops,NaN,Published dataset,fefe104f-54e6-45e6-8434-bcf92cda8754,NaN,Europe,HumanObservation
4,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Certhia brachydactyla,NaN,Published dataset,fee0da0b-0326-4d78-8aaf-bd5688b980f8,NaN,Europe,HumanObservation

In [5]:
data2 = pd.read_csv("dades/records-2023-03-14.csv")
data2.head()

,Species,Species Name,Scientific Name Authorship,Taxon Rank,Kingdom,Phylum,Class,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,9687165,Motacilla alba,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Motacillidae,Motacilla,Bachstelze,NaN,NaN
1,5231190,Passer domesticus,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Passeridae,Passer,Haussperling,NaN,NaN
2,5229490,Pica pica,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Corvidae,Pica,Common Magpie,NaN,NaN
3,2490719,Turdus merula,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Turdidae,Turdus,Amsel,NaN,NaN
4,2495455,Columba palumbus,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Columbiformes,Columbidae,Columba,DielkoduvvÃ¡,NaN,NaN

In [6]:
data3 = pd.read_csv("dades/records-2023-03-14/records-2023-03-14.csv")

In [7]:
data3.head()

,data_resource_uid,dcterms:language,dcterms:license,dcterms:rightsHolder,access_rights,dcterms:bibliographicCitation,institutionID,collectionID,datasetID,institutionCode,...,taxonomicStatus,nomenclaturalStatus,taxonRemarks,species,verbatimIdentificationQualifier,provenance,recordID,dcterms:accessRights,verbatimContinent,verbatimBasisOfRecord
0,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Fulica atra,NaN,Published dataset,fffbadf9-b2e2-4eb5-9693-66cc9f1ae275,NaN,Europe,HumanObservation
1,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Buteo buteo,NaN,Published dataset,fff64d93-c37e-4a41-82fa-741ee0890278,NaN,Europe,HumanObservation
2,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Chroicocephalus ridibundus,NaN,Published dataset,fff08d30-3555-43f8-a43b-d4c1f9fe47dd,NaN,Europe,HumanObservation
3,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Streptopelia decaocto,NaN,Published dataset,ffe1f1c1-d7d3-4ba6-8e99-5d9377a6c0d7,NaN,Europe,HumanObservation
4,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Motacilla cinerea,NaN,Published dataset,ffe18f1c-7d64-41df-9dfe-b3c0630a34fd,NaN,Europe,HumanObservation

In [9]:
np.shape(data)

(23182, 132)

In [11]:
list(data3.columns)

['data_resource_uid',
 'dcterms:language',
 'dcterms:license',
 'dcterms:rightsHolder',
 'access_rights',
 'dcterms:bibliographicCitation',
 'institutionID',
 'collectionID',
 'datasetID',
 'institutionCode',
 'collectionCode',
 'datasetName',
 'ownerInstitutionCode',
 'basisOfRecord',
 'dynamicProperties',
 'occurrenceID',
 'catalogNumber',
 'recordNumber',
 'recordedBy',
 'individualCount',
 'organism_quantity',
 'organism_quantity_type',
 'sex',
 'reproductiveCondition',
 'behavior',
 'establishmentMeans',
 'occurrenceStatus',
 'preparations',
 'disposition',
 'associatedMedia',
 'associatedSequences',
 'associatedTaxa',
 'otherCatalogNumbers',
 'occurrenceRemarks',
 'previousIdentifications',
 'eventID',
 'fieldNumber',
 'eventDate',
 'eventTime',
 'startDayOfYear',
 'endDayOfYear',
 'year',
 'month',
 'day',
 'verbatimEventDate',
 'habitat',
 'samplingEffort',
 'fieldNotes',
 'eventRemarks',
 'locationID',
 'higherGeographyID',
 'higherGeography',
 'waterBody',
 'islandGroup',
 'island',
 'country',
 'countryCode',
 'stateProvince',
 'county',
 'municipality',
 'locality',
 'verbatimLocality',
 'minimumElevationInMeters',
 'maximumElevationInMeters',
 'verbatimElevation',
 'minimumDepthInMeters',
 'maximumDepthInMeters',
 'minimum_distance_above_surface_in_meters',
 'maximum_distance_above_surface_in_meters',
 'locationAccordingTo',
 'locationRemarks',
 'decimalLatitude',
 'decimalLongitude',
 'geodeticDatum',
 'coordinateUncertaintyInMeters',
 'pointRadiusSpatialFit',
 'verbatimCoordinates',
 'verbatimLatitude',
 'verbatimLatitude.1',
 'verbatimLongitude',
 'verbatimLongitude.1',
 'verbatimCoordinateSystem',
 'verbatimCoordinateSystem.1',
 'verbatimSRS',
 'footprintWKT',
 'georeferencedBy',
 'georeferencedDate',
 'georeferenceProtocol',
 'georeferenceSources',
 'georeference_verification_status',
 'georeferenceRemarks',
 'identificationID',
 'identificationQualifier',
 'typeStatus',
 'identifiedBy',
 'dateIdentified',
 'identificationVerificationStatus',
 'identificationRemarks',
 'taxonID',
 'scientificNameID',
 'taxonConceptID',
 'scientificName',
 'scientificName.1',
 'acceptedNameUsage',
 'parentNameUsage',
 'originalNameUsage',
 'namePublishedIn',
 'name_published_in_year',
 'higherClassification',
 'kingdom',
 'phylum',
 'class',
 'order',
 'family',
 'genus',
 'subgenus',
 'specificEpithet',
 'infraspecificEpithet',
 'taxonRank',
 'verbatimTaxonRank',
 'scientificNameAuthorship',
 'vernacularName',
 'taxonomicStatus',
 'nomenclaturalStatus',
 'taxonRemarks',
 'species',
 'verbatimIdentificationQualifier',
 'provenance',
 'recordID',
 'dcterms:accessRights',
 'verbatimContinent',
 'verbatimBasisOfRecord']

In [15]:
data['waterBody'].dropna(1)

C:\Users\salba\AppData\Local\Temp\ipykernel_34164\4033891371.py:1: FutureWarning: In a future version of pandas all arguments of Series.dropna will be keyword-only.
  data['waterBody'].dropna(1)

ValueError: No axis named 1 for object type Series

In [18]:
cotorras = data3[data3['species'] == "Myiopsitta monachus"]
len(cotorras.index)

241