In [1]:
import pandas as pd
import numpy as np

***Data processing***

In [2]:
# Path to save data
path = "bd_data/"

Data for table **Especie**

In [3]:
dades1 = pd.read_csv("dades/records-2023-04-25.csv")
dades1.head()

,Species,Species Name,Scientific Name Authorship,Taxon Rank,Kingdom,Phylum,Class,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,9687165,Motacilla alba,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Motacillidae,Motacilla,White Wagtail,NaN,NaN
1,5231190,Passer domesticus,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Passeridae,Passer,House Sparrow,NaN,NaN
2,5229490,Pica pica,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Corvidae,Pica,Eurasian Magpie,NaN,NaN
3,2490719,Turdus merula,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Turdidae,Turdus,Eurasian Blackbird,NaN,NaN
4,2495455,Columba palumbus,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Columbiformes,Columbidae,Columba,Common Wood-Pigeon,NaN,NaN

In [4]:
for i in dades1.columns:
    print(i)

Species
Species Name
Scientific Name Authorship
Taxon Rank
Kingdom
Phylum
Class
Order
Family
Genus
Vernacular Name
Conservation
Invasive

Common data to all rows

In [5]:
taxon_rank = dades1["Taxon Rank"].unique()[0]
kingdom =  dades1["Kingdom"].unique()[0]
phylum = dades1["Phylum"].unique()[0]
Class = dades1["Class"].unique()[0]

Filter data to use on DB's relation

In [6]:
especie = dades1.copy()

# Delete all unecessary data
especie = especie.drop(["Species","Scientific Name Authorship","Taxon Rank", "Kingdom", "Phylum","Class"], axis=1)

In colum conservation, change values for boolean

    1 --> if it has value different taht Nan, which means is an specie in conservation
    0 --> if value is NaN, which means the specie is not in conservation

In [7]:
especie["Conservation"] = especie["Conservation"].replace(np.nan, 0)
especie["Conservation"].values[especie["Conservation"].values != 0] = 1

In [8]:
especie["Conservation"].unique()

array([0, 1], dtype=object)

In colum invasive, change values for boolean

    1 --> if it has value different taht Nan, which means is an specie in invasive
    0 --> if value is NaN, which means the specie is not in invasive

In [9]:
especie["Invasive"] = especie["Invasive"].replace(np.nan, 0)
especie["Invasive"].values[especie["Invasive"].values != 0] = 1

In [10]:
especie["Invasive"].unique()

array([0, 1], dtype=object)

In [11]:
especie.head(10)

,Species Name,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,Motacilla alba,Passeriformes,Motacillidae,Motacilla,White Wagtail,0,0
1,Passer domesticus,Passeriformes,Passeridae,Passer,House Sparrow,0,0
2,Pica pica,Passeriformes,Corvidae,Pica,Eurasian Magpie,0,0
3,Turdus merula,Passeriformes,Turdidae,Turdus,Eurasian Blackbird,0,0
4,Columba palumbus,Columbiformes,Columbidae,Columba,Common Wood-Pigeon,0,0
5,Anas platyrhynchos,Anseriformes,Anatidae,Anas,Bunásuorsá,0,0
6,Motacilla cinerea,Passeriformes,Motacillidae,Motacilla,Gray Wagtail,0,0
7,Phoenicurus ochruros,Passeriformes,Muscicapidae,Phoenicurus,Black Redstart,0,0
8,Erithacus rubecula,Passeriformes,Muscicapidae,Erithacus,European Robin,1,0
9,Carduelis carduelis,Passeriformes,Fringillidae,Carduelis,European Goldfinch,0,0

In [144]:
np.shape(especie)

(244, 7)

Rename columns so they are the same as in our DB model

In [12]:
especie = especie.rename(columns={"Species Name": "nombre", "Order" : "orden", "Family" : "familia",
                        "Genus" : "genus", "Vernacular Name" : "nombre_comun", "Conservation" : "conservacion", 
                        "Invasive" : "invasivo"}, errors="raise")
especie.index.name = 'id_especie'

Save processed table as csv

In [ ]:
especie.to_csv(path + "especie.csv")

Data for table **Avistamiento**

In [191]:
dades2 = pd.read_csv("dades/records-2023-03-14/records-2023-03-14.csv")
dades2.head()

,data_resource_uid,dcterms:language,dcterms:license,dcterms:rightsHolder,access_rights,dcterms:bibliographicCitation,institutionID,collectionID,datasetID,institutionCode,...,taxonomicStatus,nomenclaturalStatus,taxonRemarks,species,verbatimIdentificationQualifier,provenance,recordID,dcterms:accessRights,verbatimContinent,verbatimBasisOfRecord
0,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Fulica atra,NaN,Published dataset,fffbadf9-b2e2-4eb5-9693-66cc9f1ae275,NaN,Europe,HumanObservation
1,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Buteo buteo,NaN,Published dataset,fff64d93-c37e-4a41-82fa-741ee0890278,NaN,Europe,HumanObservation
2,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Chroicocephalus ridibundus,NaN,Published dataset,fff08d30-3555-43f8-a43b-d4c1f9fe47dd,NaN,Europe,HumanObservation
3,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,AGBAR,...,NaN,NaN,NaN,Streptopelia decaocto,NaN,Published dataset,ffe1f1c1-d7d3-4ba6-8e99-5d9377a6c0d7,NaN,Europe,HumanObservation
4,dr743,en,CC0,NaN,NaN,NaN,NaN,NaN,doi:10.15470/uykaay,SUEZ,...,NaN,NaN,NaN,Motacilla cinerea,NaN,Published dataset,ffe18f1c-7d64-41df-9dfe-b3c0630a34fd,NaN,Europe,HumanObservation

In [222]:
avistamiento = dades2.copy()

# Get only necessary data
avistamiento = avistamiento[['institutionCode','basisOfRecord','organism_quantity','sex',
                            'reproductiveCondition','behavior','occurrenceStatus', 'identificationID' , 'eventID','eventDate',
                            'eventTime','year','month','day','habitat','locationID','country','countryCode','stateProvince',
                            'municipality','locality','verbatimLocality','decimalLatitude','decimalLongitude','geodeticDatum',
                            'verbatimLatitude','verbatimLongitude','verbatimCoordinateSystem','taxonConceptID','scientificName',
                            'scientificName.1','species','verbatimContinent']]

In [223]:
avistamiento.head()

,institutionCode,basisOfRecord,organism_quantity,sex,reproductiveCondition,behavior,occurrenceStatus,eventID,eventDate,eventTime,...,decimalLongitude,geodeticDatum,verbatimLatitude,verbatimLongitude,verbatimCoordinateSystem,taxonConceptID,scientificName,scientificName.1,species,verbatimContinent
0,AGBAR,HumanObservation,1,NaN,NaN,NaN,present,pwqy2wmjz37oj,2019-06-17,11:06,...,4.093255,EPSG:4326,40.002799,4.093255,EPSG:4326,2474377,Fulica atra,Fulica atra,Fulica atra,Europe
1,AGBAR,HumanObservation,1,NaN,NaN,NaN,present,pw56rw4rkm1qq,2019-06-11,10:06,...,1.344624,EPSG:4326,41.145293,1.344624,EPSG:4326,2480537,Buteo buteo,Buteo buteo,Buteo buteo,Europe
2,SUEZ,HumanObservation,9,NaN,NaN,NaN,present,pmypj9v29q7rx,2018-06-14,09:06,...,4.263918,EPSG:4326,39.826501,4.263918,EPSG:4326,6065824,Chroicocephalus ridibundus,Chroicocephalus ridibundus,Chroicocephalus ridibundus,Europe
3,AGBAR,HumanObservation,4,NaN,NaN,NaN,present,pw5my9x8045n9,2019-06-09,08:06,...,2.273074,EPSG:4326,41.951990,2.273074,EPSG:4326,2495696,Streptopelia decaocto,Streptopelia decaocto,Streptopelia decaocto,Europe
4,SUEZ,HumanObservation,2,NaN,NaN,NaN,present,pw5z33965z844,2019-06-09,16:06,...,-8.597038,EPSG:4326,42.870067,-8.597038,EPSG:4326,2490310,Motacilla cinerea,Motacilla cinerea,Motacilla cinerea,Europe

In [228]:
dades2['identificationID'].unique()

array([nan])

In [226]:
for i in dades2.columns:
    print(i)

data_resource_uid
dcterms:language
dcterms:license
dcterms:rightsHolder
access_rights
dcterms:bibliographicCitation
institutionID
collectionID
datasetID
institutionCode
collectionCode
datasetName
ownerInstitutionCode
basisOfRecord
dynamicProperties
occurrenceID
catalogNumber
recordNumber
recordedBy
individualCount
organism_quantity
organism_quantity_type
sex
reproductiveCondition
behavior
establishmentMeans
occurrenceStatus
preparations
disposition
associatedMedia
associatedSequences
associatedTaxa
otherCatalogNumbers
occurrenceRemarks
previousIdentifications
eventID
fieldNumber
eventDate
eventTime
startDayOfYear
endDayOfYear
year
month
day
verbatimEventDate
habitat
samplingEffort
fieldNotes
eventRemarks
locationID
higherGeographyID
higherGeography
waterBody
islandGroup
island
country
countryCode
stateProvince
county
municipality
locality
verbatimLocality
minimumElevationInMeters
maximumElevationInMeters
verbatimElevation
minimumDepthInMeters
maximumDepthInMeters
minimum_distance_above_surface_in_meters
maximum_distance_above_surface_in_meters
locationAccordingTo
locationRemarks
decimalLatitude
decimalLongitude
geodeticDatum
coordinateUncertaintyInMeters
pointRadiusSpatialFit
verbatimCoordinates
verbatimLatitude
verbatimLatitude.1
verbatimLongitude
verbatimLongitude.1
verbatimCoordinateSystem
verbatimCoordinateSystem.1
verbatimSRS
footprintWKT
georeferencedBy
georeferencedDate
georeferenceProtocol
georeferenceSources
georeference_verification_status
georeferenceRemarks
identificationID
identificationQualifier
typeStatus
identifiedBy
dateIdentified
identificationVerificationStatus
identificationRemarks
taxonID
scientificNameID
taxonConceptID
scientificName
scientificName.1
acceptedNameUsage
parentNameUsage
originalNameUsage
namePublishedIn
name_published_in_year
higherClassification
kingdom
phylum
class
order
family
genus
subgenus
specificEpithet
infraspecificEpithet
taxonRank
verbatimTaxonRank
scientificNameAuthorship
vernacularName
taxonomicStatus
nomenclaturalStatus
taxonRemarks
species
verbatimIdentificationQualifier
provenance
recordID
dcterms:accessRights
verbatimContinent
verbatimBasisOfRecord

In [225]:
for i in avistamiento.columns:
    print(i)

institutionCode
basisOfRecord
organism_quantity
sex
reproductiveCondition
behavior
occurrenceStatus
eventID
eventDate
eventTime
year
month
day
habitat
locationID
country
countryCode
stateProvince
municipality
locality
verbatimLocality
decimalLatitude
decimalLongitude
geodeticDatum
verbatimLatitude
verbatimLongitude
verbatimCoordinateSystem
taxonConceptID
scientificName
scientificName.1
species
verbatimContinent