In [1]:
import pandas as pd
import numpy as np

***Data processing***

In [30]:
# Path to save data
path = "bd_data/"

Data for table **Especie**

In [31]:
dades1 = pd.read_csv("dades/records-2023-04-25.csv")
dades1.head()

,Species,Species Name,Scientific Name Authorship,Taxon Rank,Kingdom,Phylum,Class,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,9687165,Motacilla alba,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Motacillidae,Motacilla,White Wagtail,NaN,NaN
1,5231190,Passer domesticus,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Passeridae,Passer,House Sparrow,NaN,NaN
2,5229490,Pica pica,"(Linnaeus, 1758)",species,Animalia,Chordata,Aves,Passeriformes,Corvidae,Pica,Eurasian Magpie,NaN,NaN
3,2490719,Turdus merula,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Passeriformes,Turdidae,Turdus,Eurasian Blackbird,NaN,NaN
4,2495455,Columba palumbus,"Linnaeus, 1758",species,Animalia,Chordata,Aves,Columbiformes,Columbidae,Columba,Common Wood-Pigeon,NaN,NaN

In [32]:
for i in dades1.columns:
    print(i)

Species
Species Name
Scientific Name Authorship
Taxon Rank
Kingdom
Phylum
Class
Order
Family
Genus
Vernacular Name
Conservation
Invasive

Common data to all rows

In [43]:
taxon_rank = dades1["Taxon Rank"].unique()[0]
kingdom =  dades1["Kingdom"].unique()[0]
phylum = dades1["Phylum"].unique()[0]
Class = dades1["Class"].unique()[0]

Filter data to use on DB's relation

In [44]:
especie = dades1.copy()

# Delete all unecessary data
especie = especie.drop(["Species","Scientific Name Authorship","Taxon Rank", "Kingdom", "Phylum","Class"], axis=1)

In colum conservation, change values for boolean

    1 --> if it has value different taht Nan, which means is an specie in conservation
    0 --> if value is NaN, which means the specie is not in conservation

In [45]:
especie["Conservation"] = especie["Conservation"].replace(np.nan, 0)
especie["Conservation"].values[especie["Conservation"].values != 0] = 1

In [46]:
especie["Conservation"].unique()

array([0, 1], dtype=object)

In colum invasive, change values for boolean

    1 --> if it has value different taht Nan, which means is an specie in invasive
    0 --> if value is NaN, which means the specie is not in invasive

In [47]:
especie["Invasive"] = especie["Invasive"].replace(np.nan, 0)
especie["Invasive"].values[especie["Invasive"].values != 0] = 1

In [48]:
especie["Invasive"].unique()

array([0, 1], dtype=object)

In [49]:
especie.head(10)

,Species Name,Order,Family,Genus,Vernacular Name,Conservation,Invasive
0,Motacilla alba,Passeriformes,Motacillidae,Motacilla,White Wagtail,0,0
1,Passer domesticus,Passeriformes,Passeridae,Passer,House Sparrow,0,0
2,Pica pica,Passeriformes,Corvidae,Pica,Eurasian Magpie,0,0
3,Turdus merula,Passeriformes,Turdidae,Turdus,Eurasian Blackbird,0,0
4,Columba palumbus,Columbiformes,Columbidae,Columba,Common Wood-Pigeon,0,0
5,Anas platyrhynchos,Anseriformes,Anatidae,Anas,Bunásuorsá,0,0
6,Motacilla cinerea,Passeriformes,Motacillidae,Motacilla,Gray Wagtail,0,0
7,Phoenicurus ochruros,Passeriformes,Muscicapidae,Phoenicurus,Black Redstart,0,0
8,Erithacus rubecula,Passeriformes,Muscicapidae,Erithacus,European Robin,1,0
9,Carduelis carduelis,Passeriformes,Fringillidae,Carduelis,European Goldfinch,0,0

Rename columns so they are the same as in our DB model

In [50]:
especie = especie.rename(columns={"Species Name": "nombre", "Order" : "orden", "Family" : "familia",
                        "Genus" : "genus", "Vernacular Name" : "nombre_comun", "Conservation" : "conservacion", 
                        "Invasive" : "invasivo"}, errors="raise")
especie.index.name = 'id_especie'

Save processed table as csv

In [51]:
especie.to_csv(path + "especie.csv")

PermissionError: [Errno 13] Permission denied: 'bd_data/especie.csv'

In [67]:
dades2 = pd.read_csv("dades/records-2023-03-14/citation.csv")
dades2.head()

,UID,Name,DOI,Citation,Rights,More Information,Data generalisations,Information withheld,Download limit,Number of Records in Download
0,co255,Datos recogidos en el proyecto Biobserva,NaN,Registros proporcionados por Datos recogidos e...,NaN,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917
1,dp2,GBIF ES IPT,NaN,"Registros proporcionados por GBIF ES IPT, acce...",NaN,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917
2,dr743,Field observations of birds from Agbar facilit...,doi:10.15470/uykaay,Rovira C (2022): Field observations of birds f...,Creative Commons Zero (CC0) To the extent poss...,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917
3,in109,AGBAR,NaN,"Registros proporcionados por AGBAR, accedidos ...",NaN,Más información: https://colecciones.gbif.es/p...,NaN,NaN,NaN,101917

In [ ]:
for i in dades2.columns:
    print(i)

In [ ]:
dades3 = pd.read_csv("dades/records-2023-03-14/headings.csv")
dades3.head()

In [ ]:
for i in dades3.columns:
    print(i)

In [ ]:
data4 = pd.read_csv("dades/records-2023-03-14/records-2023-03-14.csv")
data4.head()

In [ ]:
for i in data4.columns:
    print(i)